*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    background:linear-gradient(rgba(135, 80, 156,0.9),rgba(135, 80, 156,0.5));
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: #fff;
}
.head{
    padding: 50px;
}
.sec-area{
    background:linear-gradient(rgba(135, 80, 156,0.9),rgba(135, 80, 156,0.5)), url(love.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
}
.up{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    width: 50%;
    font-family: 'Roboto', sans-serif;
}
.calc{
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(253, 247, 247);
}
.calc:hover{
    background-color: rgb(182, 176, 176);
}
.sec-area input{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(238, 230, 230);
    text-transform: capitalize;
    font-size: 20px;
    border: none;
}
.down img{
    width: 200px;
}
.down{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}
#mathH{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    display: none;
}
.namePanel{
    display: flex;
    column-gap: 20px;
}
#discription{
    font-family: 'Roboto', sans-serif;
}
#doId{
    display: none;
}

@media only screen and (max-width: 600px) {
    .down{
        font-size: 15px;
    }
    .down img{
        width: 100px;
    }
    header{
        font-size: 20px;
    }
    #mathH{
        font-size: 20px;
    }
    #discription{
        font-size: 15px;
    }
}
@media only screen and (max-width: 300px) {
    .down{
        font-size: 10px;
    }
    .down img{
        width: 50px;
    }
    header{
        font-size: 15px;
    }
    #mathH{
        font-size: 15px;
    }
    #discription{
        font-size: 10px;
    }
}